@import '~antd/dist/antd.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  overflow-y: hidden;
}

/* app component */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.table_container {
  width: 400px;
  height: 100%;
  background-color: #262626;
  overflow-x: scroll;
  overflow-y: hidden;
}

.draggable_element {
  width: 5px;
  height: 100%;
  background: rgba(1, 1, 1, 0.2);
  cursor: col-resize;
}

.map_container {
  height: 100%;
  width: 100%;
}

/* table component */
.table {
  min-width: 300px;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.route_container {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.points_container {
  flex-grow: 1;
  max-width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  background-color: #434343;
  border-radius: 5px;
  cursor: pointer;
}

.point {
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.point_select {
  background-color: antiquewhite;
  border-radius: 5px;
  margin: 1px;
}

.point_address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 16px;
}

.buttons_container {
  width: 30px;
}

.button_container {
  width: 28px;
  height: 28px;
  margin: 2px;
  overflow: hidden;
  border-radius: 5px;
}

.table_button {
  width: 100%;
  height: 100%;
  border: none;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.current_route {
  color: #00bfff;
  font-size: 17px;
}

.create_route_container {
  display: flex;
  flex-direction: column;
}

.create_route_button {
  background-color: #f5f5f5;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 100%);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.1), 0px 3px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.create_route_button:hover {
  background-color: #ff7a18;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0.5) 100%);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.1), 0px 3px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

/* map component */
.leaflet-container {
  width: 100%;
  height: 100%;
}