/* common */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  overflow-y: hidden;
}

/* app component */
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.table_container {
  width: 400px;
  height: 100%;
  background-color: #262626;
  overflow-x: scroll;
  overflow-y: hidden;
}

.draggable_element {
  width: 5px;
  height: 100%;
  background: rgba(1, 1, 1, 0.2);
  cursor: col-resize;
}

.map_container {
  height: 100%;
  width: 100%;
}

.loading_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.3);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.open_loading_modal {
  opacity: 1;
  display: flex;
  transition: opacity 0.3s ease;
}

.close_loading_modal {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
}

.loading_icon {
  font-size: 100px;
  color: #fff;
}
